* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.headerContainer {
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerContainer h2 {
    font-size: 24px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
}

.optionContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.option {
    font-size: 36px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.displayOption {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.displayUserOption,
.displayComputerOption {
    font-size: 18px;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scorecard {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.userScore,
.computerScore {
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userScorePara,
.computerScorePara {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 8px;
}

.msg {
    text-align: center;
    font-size: 16px;
    color: brown;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.winner {
    font-size: 36px;
    font-weight: bold;
    color: green;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
